[project]
	description = A sample mobile application built with AngularJS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jamie Adams (eimajenthat)
[access "refs/for/refs/*"]
	read = group user/Jamie Adams (eimajenthat)
	push = group user/Jamie Adams (eimajenthat)
	label-Code-Review = -2..+2 group user/Jamie Adams (eimajenthat)
	label-Verified = -1..+1 group user/Jamie Adams (eimajenthat)
	rebase = group user/Jamie Adams (eimajenthat)
	removeReviewer = group user/Jamie Adams (eimajenthat)
	submit = group user/Jamie Adams (eimajenthat)
[access "refs/heads/*"]
	read = group user/Jamie Adams (eimajenthat)
	create = group user/Jamie Adams (eimajenthat)
	push = +force group user/Jamie Adams (eimajenthat)
	pushMerge = group user/Jamie Adams (eimajenthat)
[access "refs/tags/*"]
	push = +force group user/Jamie Adams (eimajenthat)
	pushTag = group user/Jamie Adams (eimajenthat)
	pushSignedTag = group user/Jamie Adams (eimajenthat)
